<h1>Register To Play Here!</h1>
<p>Get instructions on how to play below</p>
<p>Pls You have to register by gender to play</p>

<div class="button">
<button class="button"><%= link_to "ladies" %></button>

<button class="button"><%= link_to "Gents" %></button>